@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentEnrollmentApi.Models.StudentViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Student Management</title>

</head>
<body>
    <h1>Student Management System</h1>
    
    <div class="form-container">
        <h3>Add New Student</h3>
        <form asp-action="Index" method="post" class ="student-form">
            @Html.AntiForgeryToken()
        <div>
            <input class="input-name" name="Name" placeholder="Enter Student Name" value="@Model.Name" />
        </div>

        <div>
            <input class="input-email" name="Email" type="email" placeholder="Enter Student Email" value="@Model.Email" />
        </div>

        <div>
            <input class="input-department" name="Department" placeholder="Department" value="@Model.Department" />
        </div >
            
            <button type="submit" class = "submit-btn1">Add Student</button>
        </form>
    </div>
    
    <div>
        <h4>Enrolled Students (Total: @Model.Students.Count)</h4>
        @if (Model.Students.Any())
        {
            <div class="student-grid">
                @foreach (var student in Model.Students)
                {
                    <ul class="student-card">
                        <li>
                            <span class="label">ID: </span>
                            #@student.Id
                        </li>
                        <li>
                            <span class="label">Name: </span>
                            <strong>@student.Name</strong>
                        </li>
                        <li>
                            <span class="label">Email: </span>
                            @student.Email
                        </li>
                        <li>
                            <span class="label">Department: </span>
                            @student.Department
                        </li>
                        <li>
                            <form action="/Home/Delete/@student.Id" method="post" 
                                onsubmit="return confirm('Are you sure you want to delete @student.Name?');">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn-delete">Delete Student</button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        }
        else
        {
            <p>No students enrolled yet.</p>
        }
            </div>

</body>
</html>